{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmação dos Dados - Mérito Acadêmico{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card p-4 mx-auto" style="max-width: 800px;">
        <h2 class="card-title text-center mb-4 text-primary">Confirme os dados inseridos</h2>
        <form method="POST" action="{% url 'merito_academico_confirm' %}">
            {% csrf_token %}
            <div class="mb-3">
                <p class="mb-1"><strong>Nome Aluno:</strong> <span class="text-muted">{{ nome_aluno }}</span></p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Nome Diretor:</strong> <span class="text-muted">{{ nome_diretor }}</span></p>
            </div>
            <hr>
            <div class="mb-3">
                <p class="mb-1"><strong>Nome Instituição:</strong> <span class="text-muted">{{ nome_escola }}</span></p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Endereço:</strong> <span class="text-muted">{{ endereco_escola }}</span></p>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <p class="mb-1"><strong>Data emissão contrato:</strong> <span class="text-muted">{{ data }}</span></p>
                </div>
                <div class="col-md-6">
                    <p class="mb-1"><strong>Média do Ensino Médio:</strong> <span class="text-muted">{{ media_ensino_medio }}</span></p>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" name="confirmacao" value="nao" class="btn btn-danger">Revisar</button>
                <button type="submit" name="confirmacao" value="sim" class="btn btn-primary">Confirmar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
